<section>
    <div *ngIf="contactsService.contacts$()">
        <h1>Contacts:</h1>
        <app-contact *ngFor="let contact of contactsService.contacts$(); let i = index" [contact]="contact">
        </app-contact>
        <app-create-contact *ngIf="authService.currentUser$()"
            [validationErrors]="errorService.errors()"></app-create-contact>
    </div>
    <div *ngIf="contactsService.contacts$() === null">
        <app-error *ngFor="let error of errorService.errors()" [errorTitle]="error.title"
            [errorMessages]="error.messages"></app-error>
    </div>
</section>