<section>
    <h1>Log in:</h1>
    <form [formGroup]="loginForm" (submit)="login()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Repeat Password</mat-label>
            <input type="password" matInput formControlName="repeatPassword" required>
        </mat-form-field>

        <button mat-button color="accent" type="submit">Register</button>
    </form>
    <div *ngIf="errorService.errors()">
        <app-error *ngFor="let error of errorService.errors()" [errorTitle]="error.title"
            [errorMessages]="error.messages"></app-error>
    </div>
</section>