button,
h1,
mat-form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

section,
form {
    margin: 50px;
}